<?xml version="1.0"?>
<launch>
  <master auto="start"/>

  <!-- Map server -->
  <arg name="map_file" default="$(find indoor_navigation)/maps/myworldmap.yaml"/>
  <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)" />

  
  <!--  ************** Global Parameters ***************  -->
  <param name="/use_sim_time" value="true"/>

  <!-- Localization -->
  <arg name="custom_amcl_launch_file" default="$(find indoor_navigation)/launch/includes/amcl.launch.xml"/>

  <include file="$(arg custom_amcl_launch_file)">
    <arg name="initial_pose_x" value="0.0"/>
    <arg name="initial_pose_y" value="0.0"/>
    <arg name="initial_pose_a" value="0.0"/>

    <arg name="use_map_topic"   value="true"/>
    <arg name="scan_topic"      value="scan"/>
    <arg name="odom_frame_id"   value="odom"/>
    <arg name="base_frame_id"   value="base_link"/>
    <arg name="global_frame_id" value="map"/>

  </include>

  <!-- Move base -->
  <include file="$(find indoor_navigation)/launch/includes/move_base_with_base_local_planner.launch.xml"/>

  <arg name="rviz_file" default="$(find indoor_navigation)/rviz/base_local_planner_nevi.rviz"/>
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rviz_file)"/>

</launch>


